@mobile_width: 900px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  overflow-y: hidden;
  color: #333333;
  background-color: #ffffff;
}

a {
  &:active,
  &:hover {
    opacity: 0.7;
  }
}

body {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  height: 100vh;
  width: 100vw;

  .menu {
    @item_height: 40px;
    width: 260px;
    overflow-y: auto;
    background-color: #f5f5f5;
    transition: all 0.2s;

    @media screen and (max-width: @mobile_width) {
      width: 0;
    }

    &.show {
      width: 60vw;
    }

    .children {
      display: flex;
      align-items: center;
      height: @item_height;
      text-decoration: none;
      padding: 0 8px;
      color: #333333;

      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &.active {
        color: #06f;
      }

      &.last_visit {
        &::after {
          content: '上次看到';
          font-size: 10px;
          color: #ffffff;
          background-color: #333333;
          padding: 2px 4px;
          border-radius: 4px;
          margin-left: 5px;
        }
      }
    }

    > div.parent {
      margin-left: 0px;
    }

    .parent {
      margin-left: 10px;
      height: @item_height;
      overflow: hidden;
      cursor: pointer;

      > span {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: @item_height;
        padding: 0 8px;
        font-weight: 900;

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &::after {
          content: '';
          transition: all 0.2s;
          height: 0;
          width: 0;
          border-style: solid;
          border-width: 5px;
          border-top-color: #333333;
          border-left-color: transparent;
          border-right-color: transparent;
          border-bottom-color: transparent;
        }
      }

      &.expand {
        height: auto;

        > span {
          &::after {
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  .mobile_menu {
    display: none;
    position: fixed;
    bottom: calc(7px + 1vw);
    right: calc(7px + 1vw);
    color: #ffffff;
    background-color: #333333;
    border-radius: 50%;
    font-size: 30px;
    font-weight: 900;
    height: 45px;
    width: 45px;
    align-items: center;
    justify-content: center;

    &:active,
    &:hover {
      opacity: 0.7;
    }

    @media screen and (max-width: @mobile_width) {
      display: flex;
    }
  }

  .content {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    padding: calc(10px + 1vw) calc(10px + 1vw) 100px;

    .markdown-body {
      font-size: 0.8rem;
    }
  }
}
