@mobile_width: 900px;

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background-color: #f5f5f5;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #999;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  overflow-y: hidden;
  color: #333333;
  background-color: #ffffff;
}

a {
  &:active,
  &:hover {
    opacity: 0.7;
  }
}

body {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  height: 100vh;
  width: 100vw;
  @menu_width: 290px;

  .menu {
    @item_height: 40px;
    width: @menu_width;
    overflow-y: auto;
    background-color: #f5f5f5;
    transition: all 0.2s;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-bottom: 50px;

    @media screen and (max-width: @mobile_width) {
      width: 0;
    }

    &.show {
      width: 60vw;
    }

    ul,
    li {
      list-style-type: none;
    }
    .dir {
      color: red;
    }

    .children {
      color: green;
      > a {
        color: #0969da;
      }
    }
  }

  .mobile_menu {
    display: none;
    position: fixed;
    bottom: calc(7px + 1vw);
    right: calc(7px + 1vw);
    background-color: rgba(255, 255, 255, 0.8);
    outline: 1px solid #cccccc;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    align-items: center;
    justify-content: center;

    > img {
      height: 27px;
      width: 27px;
    }

    &:active,
    &:hover {
      opacity: 0.7;
    }

    @media screen and (max-width: @mobile_width) {
      display: flex;
    }
  }

  .content {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    padding: calc(10px + 1vw) calc(10px + 1vw) 100px;

    &.markdown-body {
      img {
        box-shadow: 0 0 7px 0 #aaaaaa;
        border-radius: 5px;
        padding: 10px;
        background-color: #ffffff;
        cursor: pointer;
        box-sizing: border-box;
      }

      h1 {
        font-size: 1.5em;
      }
    }
  }

  .table-of-contents {
    overflow-y: auto;
    width: @menu_width;
    padding: 15px;
    line-height: 1.8;

    ul {
      padding-left: 1em;
    }

    a {
      text-decoration: none;
      color: #0969da;
    }

    @media screen and (max-width: @mobile_width) {
      display: none;
    }
  }
}
