* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  overflow-y: hidden;
  color: #333333;
}

body {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  padding: calc(3px + 1vw);
  height: 100vh;
}

.menu {
  width: max-content;
  padding-right: 10px;
  overflow-y: auto;
  transition: all .2s;
}

.menu.show {
  max-height: 50vh;
}

.menu > .item {
  display: flex;
  align-items: center;
  color: blue;
  margin-bottom: 5px;
  text-decoration: none;
}

.menu > .item.active::after {
  content: '上次看到';
  margin-left: 5px;
  background-color: #ededed;
  font-size: 10px;
  padding: 3px 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333333;
  border-radius: 5px;
}

.menu > .item:hover,
.menu > .item:active {
  text-decoration: underline;
  opacity: 0.7;
}

.mobile_menu {
  height: 45px;
  line-height: 45px;
  display: none;
  font-size: 30px;
  text-align: center;
  font-weight: 900;
  color: #333333;
  border-bottom: 1px solid #cccccc;
}

.mobile_menu:active {
  opacity: 0.7;
}

.content {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0px 10px 100px;
}

.markdown-body {
  font-size: 0.8rem;
}

@media screen and (max-width: 900px) {
  body {
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
  }

  .menu {
    max-height: 0;
    width: 100%;
    padding-right: 0;
  }

  .menu > .item {
    text-decoration: none;
    border-bottom: 1px solid #ccc;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
    color: #333333;
  }

  .menu > .item:last-child {
    border-bottom: unset;
  }

  .menu > .item:hover,
  .menu > .item:active {
    text-decoration: none;
    opacity: 0.7;
  }

  .mobile_menu {
    display: block;
  }

  .content {
    padding: 10px 10px 100px;
  }
}
