<!DOCTYPE html>
<html lang="zh-cn">
  <%- include('./head', { title: title + ' - ' + basename, favicon: favicon, root: root }); %>
  <body>
    <div class="content markdown-body"><%- html %></div>
  </body>
</html>
